.left_list{
    width:680px;
    background:#fff;
    border:1px solid #fcc;
    border-top:none;
    border-radius:5px;
    float:left;
    box-shadow:-1px 1px 10px -2px #333;
}
.left_list_head{
    height:32px;
    background-image:url(../images/list_head_bg.jpg);
    background-repeat:repeat-x;
    text-shadow:0 -1px 0px #000;
}
.left_list_head .current_topic{
    display:inline-block;
    width:136px;
    height:31px;
    background-image:url(../images/list_head.jpg);
    background-repeat:no-repeat;
    float:left;
}
.sub_topic{
    background:;
    display:inline-block;
    height:31px;
    line-height:31px;
    color:#fff;
    text-decoration:none;
    float:left;
    margin-right:10px;
    padding:0px 10px;
}
.sub_topic.current_sub_topic{
    background:#fff;
    border-top:2px solid #ac0001;
    color:#000;
    text-shadow:none;
}
.links{
    margin-top:20px;
}
.links a{
    float:left;
}
.feed_item{
    border-bottom:1px solid red;
    padding-bottom:20px;
    padding-left:20px;
    padding-top:20px;
    overflow:auto;
}
.feed_item:hover,
.feed_item:focus{
    background-color:#efefef;
}
.feed_title{
    height:30px;
    line-height:30px;
    clear:both;
}
.feed_title a{
    color:#ac0001;
    font-weight:bold;
    text-decoration:none;
}
.feed_title a:hover,
.feed_title a:focus{
    text-decoration:underline;
}
.feed_image{
    float:left;
    width:150px;
}
.feed_digest{
    font-size:12px;
    line-height:20px;
}
.feed_digest p{
    width:470px;
    float:left;
    text-indent:2em;
    color:#555;
}
.feed_digest p.feed_info{
    text-indent:0em;
    color:#888;
}
.feed_digest p a{
    color:#ac0001;
    text-decoration:none;
    margin-left:2px;
}
.feed_info{
    color:#888;
}
.right_side{
    width:274px;
    float:right;
}
.list_jar{
    display:none;
}
.list_jar.current_jar{
    display:block;
}
